$azulMarino = #0B1E44
$azul = #0093E2
$verde = #427F2D
$plomo = #797979
$rosado = #F93F7E
$bolaD = 30px
$bolaR = 15px
body
	background #F9F9F9
#balance
	display none
.container-fluid
	margin 0
	padding 0
.filtros
	margin 0 15px
	padding-top 5px
.seccion
	padding 30px
.table
	border 1px solid #EBEBEB
	thead
		background #EBEBEB
		tr
			th:nth-child(1)
				border 1px solid #EBEBEB
		th
			vertical-align middle
			label
				text-align center
				display block
	tbody
		tr:nth-child(even)
			background #F0F0F0
		tr
			td:nth-child(1)
				border 1px solid #EBEBEB
		tr
			td
				text-align center
		.numeracion
			background #0053B3
			width $bolaD
			height $bolaD
			border-radius $bolaR
			color #fff
			display block
			text-align center
			line-height $bolaD
			font-size 15px
			margin 0 auto
.botonSeccion
	text-align center
	color #CCCDD2
	cursor pointer
	label
		cursor pointer
	&.activo
		color #5C6477
		border-bottom 4px solid $azul
		font-weight bold		
.cabecera
	background #fff
	figure
		height 80px
		padding 15px
		img
			height 100%
.barra
	background $azulMarino
	color #fff
	padding 30px 15px
	h1
		font-size 30px
		margin 0
.leyenda
	list-style none
	display inline-block
	width 100%
	margin 0
	li
		float right
		margin 0 5px
.azul
	color $azul
.verde
	color $verde
.plomo
	color $plomo
.rosado
	color $rosado
	
