body
	background-color #0054b4
a:hover
	text-decoration none
.txt-azul
	color #0054b4
.txt-verde
	color #57a129
.box-cuenca
	width auto
.box-cuenca
	height 100vh
	width 100vw
	overflow hidden
.img-principal
	width 100%
	height auto
.burbuja-descarga
	bottom 40px
	right 40px
	background-color #00000047
	border-radius 42px
.empujar-max-medidor
	margin-top 0px
.mover-texto
	position absolute
	top 10px
	left 14px
.pieza
	width 100%
	height auto
	left 0px
	top 0px
.titulo-juego
	font-size 3rem
.txt-subtitulo
	font-size 1.2rem
.pos-relative
	position relative
.pos-absolute
	position absolute
.tarjeta
	background-color white
	border-radius 10px
.herramientas
	bottom 0px
	left 0px
	width 100%
	height 73px
	background-color #0054b4
.btn-azul
	background-color #062090
	border-radius 20px
	padding 5px 30px
	color white
	cursor pointer
	transition all 300ms
.btn-azul:hover
	background-color #4CAF50
.btn-verde
	background-color #4CAF50
	border-radius 20px
	padding 5px 30px
	font-size .7rem
	color white
	cursor pointer
	transition all 300ms
.btn-verde:hover
	transform scale(1.1)
.icono-opt
	font-size 2.5em
	cursor pointer
.txt-opt-descp
	font-size .7em
	font-weight bold
	color #070771
.capa-inicio
	background linear-gradient(45deg,#0b1e44 0%,rgba(0, 151, 227, 0.83) 100%)
.js-capa
	width 100%
	height 100%
	top 0px
	left 0px
.js-capa-active
	z-index 100
	opacity 1
.js-capa-inactive
	z-index -100
	opacity 0
.nivel-container
	height 5em
	background-color blue
.linea-nivel
	width 0.5em
	background-color transparent
.box-ranking
	bottom 10px
	left 900px
.globito
	font-size .9rem
	background-color #f9f9f9
	padding 5px 20px
	border-radius 20px
.dinero-container
	background-color rgb(151, 208, 235)
	border-radius 20px
	width 100%
.dinero-arrow
	background-color #74a930
	width 2em
	height 2em
	border-radius 50%
.ico-dinero-arrow
	color white
.jugador-1
	top 47%
	left 9%
.jugador-2
	bottom 27%
	right 24%
.jugador-3
	bottom 11%
	right 10%
.img-jugador
	width 10em
	height auto
.numero
	background-color #b022d7
	border-radius 50%
	right 1em
	bottom 3.7em
	color white
	width 30px
	height 30px
.jugador-info
	opacity 1
	transition all 300ms
.btn-config
	background-color grey
	border-radius 20px
	padding 5px 30px
	color white
	cursor pointer
	transition all 300ms
	span
		font-size .9rem
.btn-config:hover
	transform scale(1.1)
.modal-config-body
	height 50vh
	overflow auto
.c-pointer
	cursor pointer
.js-introduccion-inicio
	overflow hidden
.box-decisiones
	width 80%
	height 103px
	background-color #0054b4
	border-radius 50px
	margin-top -30px
.bg-azul
	background-color  #04227e
.bg-verde
	background-color #57a129
.bg-celeste
	background-color #00a2f1
.bg-naranja
	background-color orange !important
.bg-medidor-celeste
	background-color orange !important
.lluvia-llenado
	width 100%
	bottom 0px
	left 0px
	background-color #00c2f3
	height 0px
	z-index 1
	transition all 1000ms
.control-riego
	background-color #57a129
	cursor default !important
.btn-control
	width 50px
	height 50px
	border-radius 50%
	cursor default
.btn-control-active
	cursor pointer !important
.btn-control-active:hover
	transition all 300ms
	background-color #57a129
.btn-riego-activo
	cursor pointer
.btn-riego-activo:hover
	transition all 300ms
	background-color #57a129
.btn-control-active:active
	transition all 100ms
	transform scale(0.9)
.logo
	height 70px
.icono-cuerpo
	width 35px
	height 35px
	border-radius 50%
	display flex
	justify-content center
	align-items center
.nivel-lluvia
	right 20px
	bottom 100px
.lluvia
	height 18rem
	width 3rem
	background-color #ffffffba
	border-radius 30px
	z-index -1
	overflow hidden
	span
		color #5c5c5c
		z-index 2
		width 100%
		text-align center
.limite
	border-top 1px solid red
	color red !important
.text-icono-control
	line-height 1.2
.notificacion
	top -96px
	left -17%
	width 130%
	font-size .9rem
	background-color #f9f9f9
	padding 5px 10px
	border-radius 30px
.cuadradito
	height 20px
	width 20px
	background-color #f9f9f9
	margin-bottom -12px
	transform rotate(43deg)
	transition all 600ms
.notificacion-active
	opacity 1 !important
	top -96px
.notificacion-inactive
	opacity 0
	top -80px
.modal-header
	border-bottom 1px solid #57a129
.gota
	height 60px
	width 2px
	background-color white
	transform translateY(-10vh)
.oculto
	opacity 0
.mostrar
	opacity 1
.lluvia
	font-size .7rem
.bg-white
	background-color white
.lluvia-box
	transition all 300ms
.box-turno
	height 20px
	border-right 2px solid white
.titulo-mayuscula
	text-transform uppercase
.img-logo-inicio
	left 3rem
	top 3rem
	width 11%
	height auto
@keyframes caida
	0%
		transform translateY(0vh)
		opacity 1
	100%
		transform translateY(80vh)
		opacity 0
@media(max-height: 700px)
	.centro-box
		transform scale(0.8)
	